:root {
    --main-color: rgb(238, 238, 205);
    --numbers-container: rgb(147, 134, 134);
    --symbols-color: rgb(33, 28, 104, .90);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

html {
    font-size: 62.5%;
}
body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    overflow: hidden;
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgb(255, 255, 255, .9)
}
.calculator-grid > button:active {
    transform: translateY(-10px);
}
.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: var(--symbols-color);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand {
    color: white;
    font-size: 1.5rem;
}
.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

@media (min-width: 450px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }
}